@import url(base.css);
.body{
	font-family: "微软雅黑";
	font-size: 12px;
}
img{
	border:0;
}
a{
	color:#666;
}

/*banner开始*/

.banner-wrap{
  width:1190px;
  height:39px;
  border-bottom:1px solid #000;
  font-size: 16px;
  position: relative;
  margin:0 auto;
}

.banner-wrap .fenlei{
  float:left;
  width:210px;
  height:39px;
  background:#000;
  color:#fff;
  font-size:20px;
  line-height:39px;
  text-align:center;
}
.fenlei a{
  text-decoration:none;
  color:#fff;
}
.banner-wrap .list{
  float:left;
  width:420px;
  height:39px;
  line-height: 39px;
  color:#111;
  margin:0 10px;
}
.banner-wrap .list a{
  float:left;
  /*width:100px;*/
  height:39px;
  color:#111;
  text-decoration:none;
    line-height:39px;
    text-align:center;
}
.banner-wrap .list a:hover{
  color:#e5004f;
}
.banner-wrap .list a span{
  float:left;
  /*width:80px;*/
  height:39px;
    line-height:39px;
    text-align:center;
    margin:0 15px;
}
.banner-wrap .grades{
  width: 150px;
  height: 39px;
  float:right;
  /*background: pink;*/
  text-align: center;
  line-height: 39px;
  color:#666;
}
.banner-wrap .grades a{
  text-decoration:none;
  color:#666;
  font-size: 14px;
}
.banner-wrap .grades a:hover{
    color:#e5004f;
}

.banner{
	width: 1190px;
	height: 470px;
	/*border:2px solid red;*/
	position: relative;
	margin:0 auto;
	overflow: hidden;
}
.banner .img-box{
	width:1190px;
	height:470px;
	/*border:2px solid blue;*/
	position: absolute;
}
.banner .img-box img{
	width: 1190px;
	height: 470px;
	position: absolute;
	left:100%;
}


/*按钮*/
.banner .btn{
  	width: 160px;
	height: 10px;
	line-height: 10px;
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    bottom:30px;
    /*background: yellow;*/
    z-index: 20;
}
.banner .btn li{
    height: 100%;
	width: 30px;
	margin:0 5px;
	float:left;
	background: #444;
	line-height: 10px;
	text-align: center;
}
.banner .btn .hot{
	/*border-radius: 50%;*/
	background: red;
}
/*侧面按钮*/
.banner .cebtn{
	width: 
}
.banner .cebtn .left{
	  position: absolute;
	  width: 40px;
	  height: 70px;
	  top:50%;
	  left:210px;
	  margin-top: -35px;
	  background: #777;
	  color: #fff;
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    z-index: 40;
}
.banner .cebtn .left:hover{
	background: #a50000;
}
.banner .cebtn .right:hover{
	background: #a50000;
}
.banner .cebtn .right{
  position: absolute;
  width: 40px;
  height: 70px;
  top:50%;
  left:950px;
  margin-top: -35px;
  background: #777;
  color: #fff;
    line-height: 70px;
    text-align: center;
    font-size: 40px;
    z-index: 40;
}
/*banner结束*/

.banner .rgimg{
  float:right;
  width:200px;
  height:100%;
  /*background: orange;*/
  position: absolute;
  top:0px;
  right:0;
  z-index: 40;
}
.banner .rgimg a{
	display: block;
	position: absolute;
	width:200px;
    height:100%;
    right: 0;
}
.banner .bleft{
  /*float:left;*/
  width:210px;
  height:470px;
  /*background: #111;*/
  position: absolute;
  top:0px;
  left: 0;
  z-index: 40;
}
.banner-yin{
	width: 650px;
	height: 471px;
	/*float: left;*/
	position: absolute;
	left: 210px;
	z-index: 0;
	top:0;
	/*background: #000;*/
	/*opacity: 0.5;*/
}
.banner-yin li{
	width: 100%;
	height: 100%;
	/*background: #000;*/
	position: absolute;
	left: 0;
	top:0;
	/*opacity: 0.5;*/
}
.banner-yin .yinkuang{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.7;
	z-index: 100;
	position: absolute;
}
.banner-yin .zikuang{
	width: 100%;
	height: 100%;
	position: absolute;
    /*line-height: 50px;*/
    /*font-size: 66px;*/
    z-index: 101;
}
.banner-yin .zikuang .nan{
	color: #fff;
	line-height: 28px;
	font-size: 14px;
}
.banner-yin .zikuang .nan .hong{
	color: #E5004F;
}
.banner-yin .zikuang .nan a{
	padding: 8px;
	color: #fff;
}
.banner-yin .zikuang .nan a:hover{
	color: #E5004F;
}
.banner-yin .zikuang .nan>div{
	border-bottom: 1px dashed #000;
}
/*.banner-yin .zikuang dl{
	width: 100%;
	height: 100%;
}
.banner-yin .zikuang dl dt{
	width: 100%;
	height: 46px;
	line-height: 46px;
	font-size: 14px;
	color: #000;
}*/



.dyfl_box{
	width:210px;
	height:46px;
    background:#333333;
    border-bottom:1px solid #515151;
    line-height:46px;
    position: relative;
}
.dyfl_box a{
	color:#fff;
	position: relative;
          }
.dyfl_box:hover{
	background:#e5004f;
}
.mp{
	width:16px;height:13px;
    margin-left:18px;
}
.minpin{
	font-size:15px;
    margin-left:7px;}
.shug{
	margin:0 9px;
}
.cxsx{
	font-size:11px;
    color:#fff;
}
.cxsx:hover{
	text-decoration:underline;
}
.yjt{
	width:11px;
	height:11px;
    margin-left:38px;
    margin-right: 5px;
    display: inline-block;
    float: right;
    /*line-height: 46px;*/
    margin-top: 17px;
    z-index: 10;
}
.y{
	width:11px;height:11px;
    margin-left:53px;
}
.j{
	width:11px;height:11px;
    margin-left:64px;
}




/*主体开始*/
.subject-box{
	width: 100%;
	height:324px;
	/*background: pink;*/
	margin-top: 30px;
}
.subject{
	width:1190px;
	height:324px;
	/*background: green;*/
	position: relative;
	margin:0 auto;
}
.subject-box .subject .sub-left{
	width: 910px;
	height: 324px;
	/*background:red;*/
	float:left;
	margin-right:10px;
	overflow: hidden;
}
/*超值特卖*/
.subject-box .subject .sub-left ul{
    width: 100%;
    height: 47px;
    border-bottom:5px solid #111;
}
.sub-left .left-tille li{
	float: left;
	width: 33.33%;
	height: 47px;
	border-bottom: 5px solid #333333;
	position: relative;
	text-align: center;
	line-height: 47px;
}
.sub-left .left-tille li a{
	float:left;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 47px;
	font-size: 18px;
	text-decoration: none;
	color: #111;
	/*margin:;*/
}
.sanjiao{
	position: absolute;
	width: 7px;
	height: 4px;
	left: 143px;
	top: 43px;
	background: url(../img/yt_ico.png) 0 -16px no-repeat;
	display: none;
	z-index: 100;
}
.subject-box .subject .sub-left .left-sub{
	width: 100%;
	height: 271px;
	/*background: purple;*/
	/*display: none;*/
}
.subject-box .subject .sub-left .left-sub a{
	float: left;
	margin-top: 10px;
	width: 216px;
	height: 258px;
	border:1px solid #eee;
	margin-right: 8px;
	overflow: hidden;
	position: relative;
}
.subject-box .subject .sub-left .left-sub a .bt{
	top:0;
	/*width: 50%;*/
	height: 0;
	left: 0;
	border-top: 1px solid #000;
	/*width: 50%;*/
	position: absolute;
	z-index: 100;
}
.subject-box .subject .sub-left .left-sub a .bb{
	bottom:0;
	/*width: 50%;*/
	height: 0;
	right: 0;
	border-bottom: 1px solid #000;
	position: absolute;
	z-index: 100;
}
.subject-box .subject .sub-left .left-sub a .bl{
    top: 0;
    left: 0;
    border-left: 1px solid #000;
    /*height: 50%;*/
    position: absolute;
    z-index: 100;
}
.subject-box .subject .sub-left .left-sub a .br{
	bottom: 0;
	right: 0;
	border-right: 1px solid #000;
	/*height: 50%;*/
	position: absolute;
	z-index: 100;
}
.subject-box .subject .sub-left .left-sub a img{
	display: block;
	margin:0 auto;
	position: relative;
}

/*超值特卖*/
.subject-box .subject .sub-right{
	width: 270px;
	height: 324px;
	/*background:blue;*/
	float:left;
}
.subject-box .subject .sub-right a{
	display: block;
	width: 270px;
	height: 324px;
}
.subject-box .subject .sub-right a img{
	width: 100%;
	display: block;
	margin-top: 23px;
	/*height: 100%;*/
}

/*主体结束*/



/*导航开始1*/
/*.daohang-box{
	width:100%;
	height:34px;
	background:red;
}
.daohang{
	width:1190px;
    height:34px;
    background:yellow;
    margin:0 auto;
    line-height: 34px;
}
.daohang .dleft{
    float:left;
    width:340px;
    height:100%;
    background: blue;
    padding-left:5px; 

}
.daohang .dleft li{
	float:left;
	width:100px;
	padding: 5px;
	line-height: 34px;
}
.daohang .dleft li a s{
	display: inline-block;
	width: 21px;
	height:21px;
	background-image:url(../img/sy.png);
}
.daohang .dleft li span{
	line-height: 34px;
}*/
/*导航结束1*/
/*顶部开始*/
.shou_box{width:100%;height:35px;
	    background:#eeeeee;
	   }
.shouz_box{
	width:1190px;height:35px;
    background:#eeeeee;
    margin:0 auto;
    overflow: hidden;
}
.shouz_box a{
	color:#666666;
	font-size: 12px;
}
.shouz_box a:hover{
	color:#e5004f;
}
.zhong_box{
	width:300px;
	height:35px;
	/*background:red;*/
	line-height:35px;
	position:relative;
	overflow: hidden;
	z-index: 20;
}
.sy{
	width:21px;height:21px;
    padding-top:7px;
    vertical-align:middle;
    display:block;
    float:left;
}
.ytsy{
	margin-left:6px;
}
.aa{
	margin-left:6px;
}
.wx{
	width:21px;height:21px;
    margin-left:7px;
    position:absolute;
    margin-top:7px;
    }
.weixin{
	margin-left:33px;
}
.xl{
	width:9px;height:7px;
    margin-left:4px;
}
.ab{
	margin-left:7px;
    display:inline-block;
}
.sj{
	width:21px;height:21px;
    margin-left:7px;
    position:absolute;
    margin-top:7px;
    }
.shouji{
	margin-left:27px;
}
.zr_box{
	width:500px;
	height:35px;
    /*background:blue;*/
    position:absolute;
    margin-left:650px;
    margin-top:-35px;
    line-height:35px;
    font-size: 12px;
    overflow: hidden;
    z-index: 20;
}
.dl{
	margin-left:5px;
}
.gang{
	margin-left:5px;
}
.daoa{
    width: 1190px;
    height: 250px;
    /*background: green;*/
    position: absolute;
    top:0px;
    z-index: 19;
    /*opacity: 0.7;*/
    left: 50%;
    margin-left: -595px;
}
.daob{
	float: left;
	display: none;
	background: #fff;
}
.daob a{
    color: #333;
	display: block;
	width: 80px;
	height: 24px;
	text-align: center;
	margin: 5px auto;
	font-size: 12px;
	line-height: 24px;

}
.daob a:hover{
	color: red;
	text-decoration: underline;
}
.daob img{
	display: block;
	margin:35px auto;
	position: relative;
}
.ob,.oc{
	width: 150px;
	height: 220px;
}
.od{
	width: 90px;
	height: 220px;
}
.ob{
	margin-left: 90px;
}
.oc{
	margin-left: 170px;
}
.od{
	margin-left: 890px;
}
/*顶部结束*/
/*导航图开始*/
.daohangtu a{
	display: block;
	width:100%;
	height:80px;
	background-image:url(../img/erdb.png);
}
/*导航图结束*/



/*搜索栏开始*/
.sousuo-box{
	width:100%;
	height:120px;
	/*background:orange;*/
}
.sousuo{
	width:1190px;
	height:120px;
	/*background:yellow;*/
	margin:0 auto;
}
.sousuo .sousuotu{
	width:380px;
	height: 100%;
	float: left;
	/*background: red;*/
}
.sousuo .sousuotu .tu1{
	float:left;
	width: 212px;
	height: 76px;
	/*line-height: 120px;*/
	margin-top: 22px;
	padding-left:3px; 
}
.sousuo .sousuotu .xian{
    width: 1px;
    height: 70px;
    float: left;
    margin:25px 10px;
    background: #efefef;
}
.sousuo .sousuotu .tu2{
	float:left;
	width: 120px;
	height: 80px;
	margin-top: 20px;
}
.sousuo .sousuolan{
	width: 800px;
	height: 100%;
	/*background: blue;*/
	float:right;
}
/*购物框开始*/
.sousuo .sousuolan .gouwukuang{
	float:right;
    width:160px;
    height: 34px;
    background-image:url(../img/header-01.png);
    background-position:-55px -76px;
    text-align: center;
    line-height: 34px;
    margin: 43px 0;
    margin-left:18px;
}
.sousuo .sousuolan .gouwukuang a{
	color:#fff;
	font-size: 14px;
}
.sousuo .sousuolan .gouwukuang .gou{
	color:#e5004f;
	font-size: 16px;
}
/*购物框结束*/
/*搜索框开始*/
.sousuo .sousuolan .isearch{
    width:497px;
    height:60px;
    margin-top:43px;
    float:right;
    /*background:yellow;*/
}
.sousuo .sousuolan .sousuokuang{
	width:494px;
	height: 30px;
	border:2px solid #323333;
	/*margin-top: 43px;*/
}
.sousuo .sousuolan .sousuokuang .sou{
	float: left;
	width: 440px;
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	float: left;
	/*background: red;transparent*/
	border: none;
	color: #888;
}
.sousuo .sousuolan .sousuokuang a{
	width:44px;
	height:30px;
	background-image:url(../img/header-01.png);
	background-position:0 -76px;
	float:left;
}
/*搜索框结束*/
/*搜索栏下热词开始*/
#hotkeywords{
	width:497px;
	height:18px;
	margin-top:8px;
	/*background:green;*/
	overflow: hidden;
}
#hotkeywords a{
	font-size: 12px;
	margin-right:5px;
}
#hotkeywords .she{
	color:#e5004f;
	font-size:12px; 
}
#hotkeywords a:hover{
	text-decoration: underline;
	color:#e5004f;
}
/*搜索栏下热词结束*/
/*搜索栏结束*/


/*热卖图开始*/
#re{
	width: 100%;
	height:80px;
	/*background: orange;*/
	margin:30px 0 30px;

}
#re a{
	display: block;
	width: 1190px;
	height: 100%;
	margin:0 auto;
}
/*热卖图结束*/

/*专柜开始*/

/*专柜title开始*/
.zhuangui-box{
	width:100%;
	height:624px;
	/*background: red;*/
	position: relative;
}
.zhuangui{
	width: 1190px;
	height:46px;
	/*background: yellow;*/
	margin:0 auto;
}
.zhuangui span{
	float:left;
	font-size:32px;
}
.zhuangui .zhuan{
	color:#e0054f;
}
.zhuangui .gui{
	margin:0 10px;
	margin-top: 4px;
	color:#ccc;
}
.zhuangui .ying{
	font-size:16px;
	font-family:Helvetica;
	color:#ccc;
	margin-top: 4px;
}
/*专柜title开始*/
/*专柜图开始*/
.zhuangui-box .zhuanguitu{
	width:1188px;
	height:575px;
	border:1px solid #eee;
	margin:0 auto;
	position: relative;
}
.zhuangui-box .zhuanguitu .left{
	width:340px;
	height:555px;
	float:left;
	margin:11px;
	position: absolute;
}
.zhuangui-box .zhuanguitu .left img{
	width:100%;
}
/*专柜右侧特卖图*/
.zhuangui-box .zhuanguitu .right{
	width:815px;
	height:555px;
	float:left;
	/*background:yellow;*/
	margin-top:11px;
	position:absolute;
	margin-left: 362px;
} 
.zhuangui-box .zhuanguitu .right .title{
	width: 100%;
	height:35px;
	/*background: green;*/
	border-bottom:3px solid #333;
}
.zhuangui-box .zhuanguitu .right .title li{
	float:left;
	width:120px;
	height:35px;
	line-height: 35px;
	text-align:center;
	font-size: 12px;
	position: relative;
	border-bottom:3px solid #333;
}
.zhuangui-box .zhuanguitu .right .title li a{
	float:left;
	width:120px;
	height:100%;
	line-height: 38px;
	text-align:center;
	font-size: 12px;
	position: relative;
}
.sanjiao1{
	position: absolute;
	width: 7px;
	height: 4px;
	left: 56px;
	top: 31px;
	background: url(../img/yt_ico.png) 0 -16px no-repeat;
	display: none;
	z-index: 100;
}
.zhuangui-box .zhuanguitu .right .zhuti-box{
	position: relative;
	width: 100%;
	height: 517px;
	/*background: purple;*/
}
.zhuangui-box .zhuanguitu .right .zhuti{
    position:absolute;
    overflow: hidden;
    width: 100%;
    height:100%;
    /*z-index: 10px;*/
    display: none;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu1{
	float:left;
	width: 220px;
	height: 250px;
    margin-top: 4px;
    margin-right: 5px;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu1:hover{
	opacity:0.7;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu2:hover{
	opacity:0.7;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu3:hover{
	opacity:0.7;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu4:hover{
	opacity:0.7;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu5:hover{
	opacity:0.7;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu6:hover{
	opacity:0.7;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu2{
	float:left;
	width: 365px;
	height: 250px;
    margin-top: 4px;
    margin-right: 5px;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu3{
	float:left;
	width: 220px;
	height: 250px;
    margin-top: 4px;
    /*margin-right: 5px;*/
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu4{
	float:left;
	width: 290px;
	height: 260px;
    margin-top: 4px;
    margin-right: 5px;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu5{
	float:left;
	width: 240px;
	height: 260px;
    margin-top: 4px;
    margin-right: 5px;
}
.zhuangui-box .zhuanguitu .right .zhuti .zhu6{
	float:left;
	width: 275px;
	height: 260px;
    margin-top: 4px;
    /*margin-right: 5px;*/
}
/*本周推荐*/
.zhuangui-box .zhuanguitu .right .zhuti ul{
	position:absolute;
    overflow: hidden;
    width: 820px;
    height:510px;
    top:5px;
    /*border:1px solid red;*/
    /*z-index: 10px;*/
}
.zhuangui-box .zhuanguitu .right .zhuti ul li{
	float:left;
	width: 198px;
	height: 248px;
    margin-bottom: 10px;
    margin-right: 4px;
    border:1px solid #eee;
    position: relative;
    overflow: hidden;
}
.zhuti ul li .bb,.zhuti ul li .bl,.zhuti ul li .bt,.zhuti ul li .br,{
    	width: 0;
    	height: 0;
    	position: absolute;
    }
.zhuangui-box .zhuanguitu .right .zhuti ul li .bl{
    	top:0;
    	left: 0;
    	border-left:1px solid #000;
    	/*height: 50%;*/
        position: absolute;
        z-index: 100;
    }
.zhuangui-box .zhuanguitu .right .zhuti ul li .bt{
    	top:0;
    	left: 0;
    	border-top:1px solid #000;
    	/*width: 50%;*/
    	position: absolute;
    	z-index: 100;
    }
.zhuangui-box .zhuanguitu .right .zhuti ul li .br{
    	bottom:0;
    	right: 0;
    	border-right:1px solid #000;
    	/*height: 50%;*/
    	position: absolute;
        z-index: 100;
    }
.zhuangui-box .zhuanguitu .right .zhuti ul li .bb{
    	bottom:0;
    	right: 0;
    	border-bottom:1px solid #000;
    	/*width: 50%;*/
    	position: absolute;
        z-index: 100;
    }
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhutu{
	width: 100%;
	height: 200px;
	/*background: red;*/
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhutu a{
	display: block;
	width: 150px;
	height: 200px;
	margin:0 auto;
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhutu a img{
	width: 150px;
	height: 200px;
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhuzi{
	width:100%;
	height: 48px;
	background: #eee;
	overflow: hidden;
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhuzi p{
	height: 16px;
	width: 100%;
	overflow: hidden;
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhuzi .neirong{
	text-decoration: underline;
	color:#323232;
	font-size: 12px;
	overflow: hidden;
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhuzi .jiaqian{
	position: absolute;
	bottom: 8px;
}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhuzi .jiaqian .shijia{
	/*float:left;*/
	color:#e5004f;
	font-size: 12px;

}
.zhuangui-box .zhuanguitu .right .zhuti ul li .zhuzi .jiaqian .cankao{
	color:#a7a7a7;
	text-decoration: line-through;
	font-size: 12px;
	margin-left: 60px;
}

/*专柜图结束*/
/*专柜结束*/

/*时尚名品开始*/
.shishang-box{
	width: 100%;
	height:418px;
	/*background: yellow;*/
	position:relative;
}
.shishang{
	width:1190px;
	height:372px;
	margin:0 auto;
	/*background: pink;*/
	position: relative;
}
/* 时尚名品第一栏开始*/
.shishang .left{
	width: 228px;
	height: 370px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
}

.shishang .left ul{
    width: 220px;
    height: 145px;
    /*background: green;*/
    margin:16px 8px;
    position: absolute;
}
.shishang .left ul a{
	width: 65px;
	height:32px;
	border:1px solid #eee;
	float:left;
	margin-right: 5px;
	margin-bottom: 3px;
	text-align: center;
	line-height: 32px;
	position: relative;
	font-size: 14px;
}
.shishang .left ul a:hover{
	border:1px solid #e5004f;
}
.shishang .left ul a:hover .ziti{
	color:#fff;
	background: #e5004f;
}
.shishang .left ul .a1{
	position: absolute;
	top:0;
	left:0;
}
.shishang .left ul .a2{
	position: absolute;
	top:0;
    left:70px;
}
.shishang .left ul .a3{
	position: absolute;
	top:0;
	left: 140px;
}
.shishang .left ul .a4{
	position: absolute;
	top:35px;
	left: 0;
}
.shishang .left ul .a5{
	position: absolute;
	top:35px;
	left: 70px;
}
.shishang .left ul .a6{
	position: absolute;
	top:35px;
	left:140px;
}
.shishang .left ul .a7{
	position: absolute;
	top:70px;
	left: 0;
}
.shishang .left ul .a8{
	position: absolute;
	top:70px;
	left: 70px;
}
.shishang .left ul .a9{
	position: absolute;
	top:70px;
	left:140px;
}
.shishang .left ul .a10{
	position: absolute;
	top:105px;
	left: 0;
}
.shishang .left ul .a11{
	position: absolute;
	top:105px;
	left: 70px;
}
.shishang .left ul .a12{
	position: absolute;
	top:105px;
	left: 140px;
}
.shishang .left .xu-box{
	width: 200px;
	height: 140px;
	background: #f2f2f2;
	/*margin:30px 15px;*/
	margin:26px 15px 21px 15px;
	border-top:1px dashed #969696;
	position: absolute;
	margin-top: 195px;
}

.shishang .left .jihe{
	width: 159px;
	height: 104px;
	/*background: yellow;*/
	/*margin:16px 20px 21px 20px;*/
	margin:21px;
	position: absolute;
    overflow: hidden;
}
.shishang .left .jihe .xu{
    width: 159px;
	height: 104px;
	position: absolute;
	left: 159px;
}
.shishang .left .xu a{
	width: 75px;
	height: 50px;
	float:left;
    margin-right: 4px;
    margin-bottom: 2px;
    position: relative;
}

.shishang .left .xu a img{
	width: 75px;
	height: 50px;
	}
.shishang .left .xu-box .xuce{
	width: 180px;
	height: 11px;
	/*background: red;*/
	z-index: 49;
	position: absolute;
	top:50%;
	margin-top:-5px;
    margin-left:9px;
}
.shishang .left .xu-box .xuce .xuleft{
	width: 6px;
	height: 100%;
	float:left;
}
.shishang .left .xu-box .xuce .xuleft a{
	float:left;
	width: 6px;
	height: 100%;
    z-index: 50;
    background-image:url(../img/yt_ico.png); 
    background-position: 0 55px;
}
.shishang .left .xu-box .xuce .xuright{
	width: 6px;
	height: 100%;
	float:right;
}
.shishang .left .xu-box .xuce .xuright a{
	float:right;
	width: 6px;
	height: 100%;
    z-index: 50;
    background-image:url(../img/yt_ico.png); 
    background-position: 0 33px;
}
 /*时尚名品第一栏结束 */
 /*时尚名品第二栏开始 */
.shishang .left1{
	width: 390px;
	height: 370px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
	margin-left: 238px;
	/*display: none;*/
}
.shishang .left1 .left1-box{
	width: 390px;
	height: 370px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
	overflow: hidden;
}
.shishang .left1 ul{
	width: 36px;
	height: 13px;
	/*background: yellow;*/
	position: absolute;
	left:50%;
	margin-left: -15px;
	bottom:15px;
	z-index: 39;
}
.shishang .left1 ul li{
	width: 13px;
	height: 13px;
	border-radius:50%;
	background: #6e6e6e;
	z-index: 40;
	margin-right: 5px;
	float:left;

}
.shishang .left1 .shice{
	width: 390px;
	height: 60px;
	position: absolute;
	top: 50%;
	left:1px;
	margin-top: -30px;
	/*background: red;*/
	z-index: 39;
}
.shishang .left1 .shice .shileft{
	width: 30px;
	height: 100%;
	background: #4c4d4b;
	float:left;
	line-height: 60px;
	text-align: center;
	font-size: 40px;
	color: #fffff8;
	/*opacity:0;*/
}
.shishang .left1 .shice .shileft:hover{
	background: red;
}
.shishang .left1 .shice .shiright{
	width: 30px;
	height: 100%;
	background: #4c4d4b;
	float:right;
	line-height: 60px;
	text-align: center;
	font-size: 40px;
	color: #fffff8;
	/*opacity:0;*/
}
.shishang .left1 .shice .shiright:hover{
	background:red;
}	
 /*时尚名品第二栏开始*/

/*.shishang .left2{
	width: 270px;
	height: 178px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
	margin-left: 638px;
	margin-bottom:8px;
	overflow: hidden;
}
.shishang .left3{
	width: 270px;
	height: 178px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
	margin-left: 638px;
	margin-top: 190px;
	overflow: hidden;
}
.shishang .left4{
	width: 270px;
	height: 178px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
	margin-left: 916px;
	margin-bottom:8px;
	overflow: hidden;
}
.shishang .left5{
	width: 270px;
	height: 178px;
	border:1px solid #eee;
	float:left;
	margin-right:8px;
	position: absolute;
	margin-left: 916px;
	margin-top: 190px;
	overflow: hidden;
}*/
    .border{
    	width: 560px;
    	height: 370px;
    	position: absolute;
    	/*background: red;*/
    	margin: 0 auto;
    	overflow: hidden;
    	left:630px;
    	top:0;
    }
    .border .one{
        width: 270px;
        height: 180px;
        margin:0 0 10px 10px;
        position: relative;
        float: left;
        overflow: hidden;
    }
    .border .one a{
    	width: 268px;
    	height: 178px;
    	border:1px solid #ccc;
    	display: block;
    	overflow: hidden;
    }
    .one .bl,.one .bt,.one .br,.one .bb{
    	width: 0;
    	height: 0;
    	position: absolute;
    }
    .one .bl{
    	top:0;
    	left: 0;
    	border-left:1px solid #000;
    	/*height: 50%;*/
    }
      .one .bt{
    	top:0;
    	left: 0;
    	border-top:1px solid #000;
    	/*width: 50%;*/
    }
      .one .br{
    	bottom:0;
    	right: 0;
    	border-right:1px solid #000;
    	/*height: 50%;*/
    }
      .one .bb{
    	bottom:0;
    	right: 0;
    	border-bottom:1px solid #000;
    	/*width: 50%;*/
    }

/*时尚名品结束*/


/*卡片部分开始*/
.ka{
	width: 100%;
	height: 168px;
	/*background: red;*/
	margin-top: 10px;
}
.cfx_box{
		width:1190px;
		height:167px;
	    margin:0 auto;
	    margin-top:34px;
	    position: relative;
	    }
.cfx1_box{
		width:395px;
		height:167px;
        border:1px solid #eeeeee;
        float:left;
        position: absolute;
    	left: 0;
}
.cfx2_box{
		width:395px;
		height:167px;
        border-top:1px solid #eeeeee;
        border-bottom:1px solid #eeeeee;
        float:left;
        position: absolute;
        left: 395px;
}
.cfx3_box{
		width:395px;
		height:167px;
        border:1px solid #eeeeee;
        float:left;
        position: absolute;
    	left: 790px;
}
/*卡片部分结束*/

/*底部开始*/
.bottom{
	width: 1190px;
	height:310px;
	/*background: red;*/
	margin:0 auto;
}
.call_box{
    width:1190px;
    height:88px;
    background:#f7f7f7;
    border:1px solid #eeeeee;
    margin:0 auto;
    margin-top:54px;
    position: relative;
}
.call1{
	top:0;
	left:0;
}
.call2{
	left:294px;
	top:0;
}
.call3{
	top:0;
	left:588px;
}
.call4{
	left:882px;
	top:0;
	width:260px;
}
.bottom_box{
	width:1010px;
	height:200px;
    /*background:red;*/
    margin:0 auto;
    position: relative;
}
.bo1_box{
	width:1010px;
	height:20px;
    margin-top:38px;
    text-align:center;
    overflow: hidden;
    position: relative;
}
.bo1_box a{
	font-size: 12px;
	color:#757575;
}
.bsg{
	margin:0 4px;
}
.bo2_box{
	width:544px;
	height:16px;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
    font-size:12px;
    color:#b2b2b2;
    overflow: hidden;
    position: relative;
}
.bo2_box a{
	color:#b2b2b2;
}
.bo3_box{
	width:216px;
	height:16px;
    margin:0 auto;
    margin-top:10px;
    text-align:center;
    font-size:12px;
    color:#b2b2b2;
    overflow: hidden;
    position: relative;
}
.bo4_box{
	width:380px;height:86px;
    margin:0 auto;
    margin-top:14px;
    overflow: hidden;
    position: relative;
}
.bt1{
	float:left;
	height: 40px;
	padding-top:23px;
	margin-right:28px;
	}
.bt2{
	float:left;
	height: 45px;
	padding-top:23px;
	margin-right:28px;
	}


/*底部结束*/


/*固定部分开始*/
.mix_box{
         width:50px;
         height:475px;
         /*background:red;*/
         position:fixed;
         left:50%;
         margin-left:595px;
         bottom:80px;
         z-index: 100;
}
.fi{
	width: 100%;
	height: 50px;
    margin-bottom:3px;
    background: #ccc;
    position: relative;
}
/*.mix_box .fi:hover{
  opacity:0.7;
}*/
.fi img{
	position: absolute;
}
.fi .fi-y{
	width: 100%;
	height: 50px;
    background: #E5004F;
    z-index: 30;
    position: absolute;
    opacity: 0.9;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
}
.fi .fi-y span{
	margin:7px 7px;
	display: block;
	width: 36px;
	height: 36px;
	color:#fff;
}
.fi .fi-y .xxx{
	margin:7px 7px;
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
}
/*固定部分结束*/

/*返回顶部*/
.ff{
	width: 50px;
	height: 50px;
	position: fixed;
	left: 50%;
	margin-left: 595px;
	bottom: 30px;
}
.ff .dd{
	width: 100%;
	height: 100%;
	position: absolute;
	line-height: 50px;
	text-align: center;
	font-size: 18px;
	background: #E5004F;
	opacity: 0.9;
	color:#fff;
}
/*返回顶部结束*/
